@import "../../../../assets/sass/general";

//header 3
#header-4 {
	position: absolute;
	z-index: 13;
	width: 100%;
	transition-duration: .5s;
	.affix-container {
		position: absolute;
		top: 40px;
		width: 80%;
		margin-left: 10%;
		display: block;
		transition-duration: .5s;
	}
	img.img-fluid {
		max-height: 15vh;
		width: auto;
	}
	.affix.affix-container {
		position: fixed;
		box-shadow: 0px 5px 10px #000;
		background: #fc4801;
		top:0px;
	}
	.top-header {
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: #000;
		.container {
			height: 100%; 
		}
		img {
			height: 20px;
			width: auto;
			margin-right: 5px; 
		}
		a {
			color: #fff;
			letter-spacing: 2px;
		}
		.header-contact {
			display: flex;
			justify-content: space-around;
			list-style-type: none;
			padding: 0px;
			height: 100%;
			margin: 0px;
			align-items: center;
		}
	}
	.mobile-menu {
		display: none;
	}
	.navi-container-4 { 
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		#menu-main-menu {
			display: flex;
			flex-direction: inherit;
			justify-content: space-around;
			width: 100%;
			height: 30%;
			li {
				padding: 0px 15px;
				display: flex;
				align-items: center;
				border-left: solid 1px #fff;
				&.active {
					a {
						font-weight: 900;
					}
				}
				&:hover {
					background-color: #fff;
					a {
						color: #fb4900; 
					}
				}
				a {
					color: #fff;
					font-size: 1.15em;
				}
			}
		}
	}
	#menu-main-menu {
		display: flex;
		flex-direction: initial;
		justify-content: space-between;
	}
	a.dropdown-item.active {
		background-color: rgba(0,0,0,.6);
	}
	@media (max-width: 576px) { 
		.mobile-none {
			display: none;
		}
		.mobile-menu {
			display: block;
		}
		nav.mobile-menu.slide-menu {
			position: fixed;
			background-color: rgba(0,0,0,.5);
			height: 100vh;
			top: 0px;
			width: 50vw;
			margin-left: -50vw;
			transition-duration: .5s;
			&.active {
				margin-left: 0vw;
			}
			.menu-main-menu-container {
				height: 100%;
				display: flex;
				margin-left: 20px;
				align-items: center;
				li {
					a {
						color: #fff;
					}
				}
			}
		}
	}

	@media (max-width: 768px) { 
		.mobile-none {
			display: none;
		}
		.mobile-menu {
			display: block;
		}
		nav.mobile-menu.slide-menu {
			position: fixed;
			background-color: rgba(0,0,0,.5);
			height: 100vh;
			top: 0px;
			width: 50vw;
			margin-left: -50vw;
			transition-duration: .5s;
			&.active {
				margin-left: 0vw;
			}
			.menu-main-menu-container {
				height: 100%;
				display: flex;
				margin-left: 20px;
				align-items: center;
				li {
					a {
						color: #fff;
					}
				}
			}
		}
	}
}
.dropdown-menu {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	
	transition-duration: .5s;
	padding:0px;
	a, a:hover {
		background-color: transparent;
	}
	a {
		background: rgba(0,0,0,.25);
		border-bottom: solid 1px #fff;
		&:hover {
			background: rgba(0,0,0,.5);
		}
	}
	&:hover > .dropdown-menu, &:hover > .dropdown-menu:hover {
		display: block;
		//position: absolute;
		a {
			margin-left: 10px;
			width: calc(100% - 10px);
			margin-top: -2px;
		}
	}
}