@import "../../../../assets/sass/general";

//paralax
.paralax-section {
	min-height: 400px;
	display: flex;
	width: 100%;
	height: 100%;
	.paralax-background {
		position: absolute;
		height: 100%;
		width: 100%;
		background-attachment: fixed;
	}
	.inner-paralax {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: auto;
		z-index: 2;
	}
}