/*colors*/
@media (min-width: 1200px) {
  .container {
    max-width: 1300px; } }
html {
  scroll-behavior: smooth;
  outline: none; }

* {
  outline: none; }

a, a:hover {
  text-decoration: none;
  -webkit-transition-duration: .5s;
  transition-duration: .5s; }

body {
  background-color: #000;
  outline: none; }

body:not(.home) section:first-child {
  margin-top: 0px !important; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.href-left {
  display: flex; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header-bg {
  min-height: 250px;
  position: relative;
  display: flex;
  align-items: flex-end; }
  .header-bg .bg-image {
    height: 100%;
    width: 100%;
    position: absolute; }
  .header-bg .container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end; }
    .header-bg .container .header-present {
      height: 100%;
      width: 100%;
      padding-bottom: 20px; }
      .header-bg .container .header-present h1 {
        font-family: "Didot"; }

html {
  margin-top: 0px !important; }

* {
  font-family: "Acenir"; }

.presentation-slider {
  height: calc(100vh + 10px);
  margin-top: -10px !important;
  margin-bottom: 0px !important; }
  @media (max-height: 420px) {
    .presentation-slider {
      min-height: 700px; } }
  .presentation-slider .section-background-image:nth-child(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s; }
  .presentation-slider .container {
    height: 100%; }
  .presentation-slider .position-content-box {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative; }
    .presentation-slider .position-content-box .content-logotype {
      width: 100%;
      position: relative; }
    .presentation-slider .position-content-box .sygnet {
      position: absolute;
      right: 0;
      bottom: -25%;
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
      @media (max-width: 576px) {
        .presentation-slider .position-content-box .sygnet {
          display: none; } }
    .presentation-slider .position-content-box .number {
      position: absolute;
      right: 5%;
      top: -25%;
      font-size: 3em;
      font-family: "Didot";
      -webkit-animation-delay: 1.75s;
      animation-delay: 1.75s; }
      @media (max-width: 576px) {
        .presentation-slider .position-content-box .number {
          display: none; } }
    .presentation-slider .position-content-box * {
      color: #fff; }
    .presentation-slider .position-content-box h3 {
      font-family: "Didot";
      font-size: 5rem;
      -webkit-animation-delay: .5s;
      animation-delay: .5s; }
      @media (max-width: 576px) {
        .presentation-slider .position-content-box h3 {
          font-size: 2.5rem; } }
    .presentation-slider .position-content-box .checked-text {
      display: -webkit-box;
      display: flex;
      margin-top: 30px;
      max-width: 50%; }
      @media (max-width: 561px) {
        .presentation-slider .position-content-box .checked-text {
          max-width: 100%; } }
      .presentation-slider .position-content-box .checked-text .text {
        -webkit-animation-delay: 1s;
        animation-delay: 1s; }
      .presentation-slider .position-content-box .checked-text img.arow {
        padding-left: 20px;
        padding-right: 20px;
        animation-duration: 2s; }
  .presentation-slider .checked-text a {
    opacity: 0;
    -webkit-animation: show 2s;
    animation: show 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

#oferta {
  padding-bottom: 60px;
  margin-top: 0px;
  padding-top: 60px;
  margin-bottom: 0px; }
  #oferta .single-item {
    -webkit-transition-duration: .5s;
    transition-duration: .5s; }
    #oferta .single-item:hover .custom-bg {
      background: transparent; }
  #oferta .title-section {
    height: 150px; }
    #oferta .title-section .number {
      color: #f6f1e8;
      font-family: "Didot";
      font-size: 6em;
      position: absolute;
      left: 0; }
    #oferta .title-section h3 {
      font-family: "Didot";
      font-weight: 800;
      text-align: left;
      font-size: 1.75rem;
      position: absolute;
      left: 30px;
      top: 55px; }
  #oferta .thumbnail img {
    max-height: 200px;
    width: auto; }
    @media (max-width: 991px) {
      #oferta .thumbnail img {
        max-height: 150px; } }
  #oferta .offer-wrapper {
    position: relative; }
    #oferta .offer-wrapper .custom-bg {
      background-color: #f6f1e8;
      width: 100%;
      height: 55%;
      display: block;
      position: absolute;
      bottom: 0;
      -webkit-transition-duration: .5s;
      transition-duration: .5s;
      z-index: 1; }
      @media (max-width: 991px) {
        #oferta .offer-wrapper .custom-bg {
          height: 75%; } }
    #oferta .offer-wrapper .offer-box {
      position: relative;
      z-index: 2; }
    #oferta .offer-wrapper .text-container {
      text-align: left;
      padding: 20px;
      padding-bottom: 50px; }
    #oferta .offer-wrapper p {
      min-height: 200px; }
      @media (max-width: 991px) {
        #oferta .offer-wrapper p {
          min-height: 400px; } }
      @media (max-width: 770px) {
        #oferta .offer-wrapper p {
          min-height: 100px; } }
    #oferta .offer-wrapper a {
      color: #fff;
      background-color: #a67920;
      letter-spacing: 5px;
      text-transform: uppercase;
      padding: 5px 20px;
      border-radius: 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 8px;
      font-size: .8em; }
      #oferta .offer-wrapper a svg {
        margin-left: 10px;
        margin-top: -3px; }

.service-3 {
  margin: 0px !important; }
  .service-3 .section-background-image {
    background-attachment: scroll; }
  .service-3 .container-czekolada {
    margin: auto;
    width: 80vw; }
  .service-3 .czekolada {
    position: absolute; }
  .service-3 .description {
    background: #f6f1e8;
    padding: 5%;
    margin: 100px 0px 150px 0px; }
  .service-3 .item-text {
    margin-bottom: 100px; }
  .service-3 .czekolada.czekolada-2 {
    top: 0;
    right: 0;
    width: 28vw; }
    .service-3 .czekolada.czekolada-2 img {
      -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5)); }
  .service-3 .czekolada.czekolada-1 {
    left: 0;
    top: 20%;
    width: 15vw; }
    .service-3 .czekolada.czekolada-1 img {
      -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5)); }
  .service-3 h1, .service-3 h2, .service-3 h3, .service-3 h4, .service-3 h5 {
    font-family: "Didot";
    font-weight: 700;
    margin-bottom: 30px; }
  .service-3 p {
    padding-left: 30px;
    width: 90%; }
    @media (min-width: 1800px) {
      .service-3 p {
        /*width: 80%;*/ } }

.kontakt-3 {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  @media (max-width: 561px) {
    .kontakt-3 {
      padding: 80px 20px 0px 20px; }
      .kontakt-3 label {
        width: 100%; } }
  .kontakt-3 .title-section h3 {
    margin-bottom: 60px;
    font-family: "Didot";
    font-size: 3em;
    margin-left: -15px; }
  .kontakt-3 a {
    color: #000; }
  .kontakt-3 .container-form {
    width: 100%;
    max-width: 100vw;
    overflow: hidden; }
    .kontakt-3 .container-form label {
      width: 90%;
      margin-right: auto; }
      .kontakt-3 .container-form label.textarea-size {
        width: 100%; }
      .kontakt-3 .container-form label input, .kontakt-3 .container-form label textarea {
        border: none;
        border-bottom: solid 1px #000;
        width: 100%; }
    .kontakt-3 .container-form input[type="submit"] {
      color: #fff;
      background-color: #a67920;
      letter-spacing: 5px;
      text-transform: uppercase;
      padding: 5px 20px;
      border-radius: 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 8px;
      font-size: .8em; }
      .kontakt-3 .container-form input[type="submit"]:after {
        display: block;
        content: ' ';
        background-image: url("/wp-content/uploads/2019/12/strzalka-1.svg");
        background-size: 28px 28px;
        height: 28px;
        width: 28px; }
  @media (max-width: 561px) {
    .kontakt-3 .single-dzial {
      margin-bottom: 70px; } }
  .kontakt-3 .single-dzial h3 {
    font-family: "Didot";
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: -15px; }
  .kontakt-3 .single-dzial .container-mobile, .kontakt-3 .single-dzial .container-fax {
    margin-bottom: 20px; }
    .kontakt-3 .single-dzial .container-mobile > *, .kontakt-3 .single-dzial .container-fax > * {
      display: block; }
  .kontakt-3 .single-dzial .single-sprzedawca {
    margin-bottom: 30px; }
    .kontakt-3 .single-dzial .single-sprzedawca address {
      margin-bottom: 0px; }
    .kontakt-3 .single-dzial .single-sprzedawca .container-mobile, .kontakt-3 .single-dzial .single-sprzedawca .container-fax {
      margin-bottom: 0px; }
      .kontakt-3 .single-dzial .single-sprzedawca .container-mobile > *, .kontakt-3 .single-dzial .single-sprzedawca .container-fax > * {
        display: block; }
  .kontakt-3 .single-dzial .single-dzial-inner {
    font-family: "Acenir";
    margin-left: 30px; }
  .kontakt-3 .single-dzial:last-child address {
    margin-bottom: 0px; }
  .kontakt-3 .single-dzial:last-child .container-mobile, .kontakt-3 .single-dzial:last-child .container-fax {
    margin-bottom: 0px; }
    .kontakt-3 .single-dzial:last-child .container-mobile > *, .kontakt-3 .single-dzial:last-child .container-fax > * {
      display: block; }
  .kontakt-3 map {
    margin-top: 80px;
    width: 100%; }
  .kontakt-3 iframe {
    width: 100%;
    height: 600px;
    border: none; }

footer {
  padding: 40px 0px;
  font-family: "Acenir";
  background-color: #080808; }
  footer *, footer p, footer address {
    color: #8a8a8a; }
  footer img.img-fluid.logotype {
    margin-bottom: 25px; }
  footer span {
    margin-bottom: 20px;
    display: block; }
  footer ul {
    list-style-type: none;
    padding-left: 10px; }
    footer ul li a {
      margin-bottom: 20px;
      display: block; }
      footer ul li a.nav-link {
        padding: 0px; }
  footer .credits {
    width: 100%;
    margin-top: 30px;
    border-top: solid 1px #393939;
    padding-top: 20px; }
    footer .credits .row > *:last-child p {
      text-align: right; }
  footer a {
    -webkit-transition-duration: .5s;
    transition-duration: .5s; }
    footer a:hover {
      color: #fff;
      text-decoration: none; }

body.login {
  background: url(/wp-content/uploads/2019/12/bg-login.jpg);
  background-size: cover; }

.sygnet-postion {
  position: absolute; }

body.postid-475 {
  background: #fff; }
  body.postid-475 section:nth-child(2) {
    padding-top: 170px; }
  body.postid-475 section.service {
    margin-bottom: 200px; }
    body.postid-475 section.service h3 {
      font-family: "Didot";
      font-weight: 600;
      margin-bottom: 60px;
      font-size: 2em; }
    body.postid-475 section.service .number {
      position: absolute;
      font-size: 7em;
      top: -70px;
      z-index: -1;
      font-family: "diot";
      color: #f6f1e8; }
    body.postid-475 section.service h4 {
      font-family: "Didot"; }
    body.postid-475 section.service:last-child p {
      margin-bottom: 0px !important; }
    body.postid-475 section.service .row-rewerse .description {
      padding-left: 50px; }
      body.postid-475 section.service .row-rewerse .description p {
        width: 80%;
        line-height: 1.75em;
        margin-bottom: 60px; }
    body.postid-475 section.service .row:not(.row-rewerse) .description {
      padding-right: 50px; }
      body.postid-475 section.service .row:not(.row-rewerse) .description p {
        width: 80%;
        line-height: 1.75em;
        margin-bottom: 40px; }

body.blog .header-present, body.archive .header-present {
  margin-bottom: 0px;
  padding-bottom: 40px;
  height: 290px; }
body.blog main#blog, body.archive main#blog {
  padding-bottom: 0px; }

body.blog, body.archive, body.single {
  background-color: #fff; }

section.blog-page {
  padding-top: 60px;
  padding-bottom: 80px; }
  section.blog-page .post-container {
    margin-bottom: 80px; }
    section.blog-page .post-container .post {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
      border-radius: 0px 100px 0px 100px;
      overflow: hidden; }
      section.blog-page .post-container .post h2 {
        font-family: "Didot"; }
      section.blog-page .post-container .post .image-container {
        position: relative;
        overflow: hidden;
        height: 450px; }
        section.blog-page .post-container .post .image-container img {
          width: 110%;
          height: auto;
          max-width: initial;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          filter: grayscale(0.7);
          transition-duration: .5s; }
        section.blog-page .post-container .post .image-container small {
          position: absolute;
          top: 0px;
          left: -100%;
          background: #222;
          padding: 5px;
          color: #fff !important;
          transition-duration: .5s; }
      section.blog-page .post-container .post .container-text {
        text-align: center;
        color: #333;
        background: #fff;
        padding: 30px;
        transition-duration: .5s; }
      section.blog-page .post-container .post .href-link {
        display: flex;
        justify-content: center;
        margin-top: 20px; }
        section.blog-page .post-container .post .href-link a {
          color: #fff;
          background-color: #a67920;
          letter-spacing: 5px;
          text-transform: uppercase;
          padding: 5px 20px;
          border-radius: 20px;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding-top: 8px;
          font-size: .8em; }
    section.blog-page .post-container:hover .image-container small {
      left: 0%; }
    section.blog-page .post-container:hover .image-container img {
      filter: grayscale(0);
      width: 100%; }
    section.blog-page .post-container:hover .container-text {
      color: #fff;
      background: #222;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
    section.blog-page .post-container:hover .href-link a:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      color: #333;
      background-color: #fff; }
    section.blog-page .post-container:hover .href-link a:active {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
      color: #333;
      background-color: #fff; }
  section.blog-page aside {
    background: #fff;
    border-radius: 0px 50px 0px 50px;
    padding: 45px 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition-duration: .5s;
    position: sticky;
    top: 40px; }
    section.blog-page aside h2.widget-title {
      font-size: 15px;
      margin-bottom: 5px; }
    section.blog-page aside ul {
      list-style-type: none;
      padding: 0px; }
    section.blog-page aside #search-2 > form > div {
      display: flex;
      flex-wrap: wrap; }
      section.blog-page aside #search-2 > form > div > *:nth-child(1) {
        width: 100%; }
      section.blog-page aside #search-2 > form > div > *:nth-child(2) {
        width: 70%;
        border: none;
        border-bottom: solid 1px #ddd;
        border-left: solid 1px #ddd;
        transition-duration: .5s;
        padding: 5px;
        color: #ddd; }
        section.blog-page aside #search-2 > form > div > *:nth-child(2) * {
          transition-duration: .5s; }
      section.blog-page aside #search-2 > form > div > *:nth-child(3) {
        width: 30%;
        background: transparent;
        border: none;
        border-right: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        color: #ddd;
        transition-duration: .5s; }
    section.blog-page aside #search-2 > form > div > *:nth-child(2):focus, section.blog-page aside #search-2 > form > div > *:nth-child(2):active {
      border-bottom: solid 1px #222;
      border-left: solid 1px #222;
      color: #333 !important; }
      section.blog-page aside #search-2 > form > div > *:nth-child(2):focus + input[type="submit"], section.blog-page aside #search-2 > form > div > *:nth-child(2):active + input[type="submit"] {
        background-color: #222;
        color: #fff; }
    section.blog-page aside #sidebar > ul > li {
      border-bottom: solid 1px #ddd;
      margin-bottom: 30px;
      padding-bottom: 10px; }
    section.blog-page aside #sidebar > ul ul li a {
      color: #222;
      font-family: "Acenir";
      font-size: 13px;
      letter-spacing: 1px; }
    section.blog-page aside:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

.content-service {
  padding-top: 80px; }
  .content-service .mini-title {
    margin-bottom: 50px;
    position: relative;
    margin-top: 100px;
    transition-delay: .25s; }
    .content-service .mini-title .inner-title {
      position: relative; }
    .content-service .mini-title h3 {
      font-family: "Didot";
      margin-left: 50px; }
    .content-service .mini-title .number {
      position: absolute;
      font-size: 6em;
      top: -150%;
      color: #f6f1e8;
      font-family: "Didot"; }
      .content-service .mini-title .number:before {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        left: 50%;
        top: 50%;
        transform: translate(-120%, -150%); }
  @media (max-width: 576px) {
    .content-service img.attachment-full.size-full {
      max-width: 80%;
      height: auto;
      margin: auto;
      display: block; }
    .content-service .more-content {
      margin-left: auto !important;
      margin-right: auto; } }
  .content-service .before-content {
    margin-left: 50px;
    font-size: .8em;
    width: 65%;
    margin-bottom: 70px;
    transition-delay: .5s; }
  .content-service .more-content {
    margin-left: -50px;
    font-size: .8em;
    width: 85%;
    transition-delay: .75s; }
  .content-service .background-custom {
    position: absolute;
    width: 50%;
    height: 80%;
    background: #f6f1e8;
    bottom: 0; }
    @media (max-width: 576px) {
      .content-service .background-custom {
        width: 100%; } }

.section-owl-carousel {
  margin-top: 200px;
  margin-bottom: 100px; }
  .section-owl-carousel .owl-carousel .owl-stage-outer {
    z-index: 100; }
  .section-owl-carousel .owl-carousel {
    position: unset; }
    .section-owl-carousel .owl-carousel .thumbnail {
      min-height: 300px; }
      @media (max-width: 576px) {
        .section-owl-carousel .owl-carousel .thumbnail {
          min-height: 350px; } }
    .section-owl-carousel .owl-carousel .owl-nav {
      position: absolute;
      left: 0;
      width: 90vw;
      top: 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5vw; }
      .section-owl-carousel .owl-carousel .owl-nav button {
        transform: scale(2); }
    .section-owl-carousel .owl-carousel .owl-item {
      text-align: center; }
      .section-owl-carousel .owl-carousel .owl-item img {
        width: 80%;
        height: auto;
        margin: auto;
        transition-duration: .5s; }
      .section-owl-carousel .owl-carousel .owl-item .more-info {
        opacity: 0;
        transition-duration: .5s; }
      .section-owl-carousel .owl-carousel .owl-item h3 {
        font-family: "Didot"; }
      .section-owl-carousel .owl-carousel .owl-item p {
        font-size: .8em; }
      .section-owl-carousel .owl-carousel .owl-item a {
        color: #fff;
        background-color: #a67920;
        text-transform: uppercase;
        padding: 5px 20px;
        display: inline-flex;
        letter-spacing: 3px;
        border-radius: 25px;
        font-size: 11px; }
    .section-owl-carousel .owl-carousel .owl-item.center .more-info {
      opacity: 1; }
    .section-owl-carousel .owl-carousel .owl-item.center img {
      width: 95%;
      height: auto;
      transition-duration: .5s; }

body.page-template-all-product {
  background: #fff; }

main.single-produkty .details {
  padding-top: 40px;
  padding-bottom: 90px; }
  main.single-produkty .details h6 {
    margin-bottom: 40px; }
  main.single-produkty .details h3 {
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 2px; }
  main.single-produkty .details .description {
    font-size: .9em;
    width: 50%;
    margin: auto;
    margin-top: 40px; }
  main.single-produkty .details h6, main.single-produkty .details h3 {
    font-family: "Didot"; }
  main.single-produkty .details img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    margin-left: -15%;
    width: 100%;
    height: auto; }
  main.single-produkty .details .bg-theme {
    position: absolute;
    width: 50%;
    height: 70%;
    display: block;
    background: #f6f1e8;
    bottom: 10%; }

.single-produkty-files .presentation-slider h3 {
  word-spacing: 100vw; }
.single-produkty-files h2 {
  font-family: "Didot";
  width: 35%;
  margin-top: 60px;
  margin-left: 15%;
  margin-bottom: 40px; }
  @media (max-width: 576px) {
    .single-produkty-files h2 {
      margin-left: 10%;
      width: 80%; } }
.single-produkty-files h3.absoulte-this {
  position: absolute;
  max-width: 100vw;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.05);
  font-family: "Didot";
  font-weight: 700;
  left: -5%; }
.single-produkty-files .bg-color {
  position: absolute;
  z-index: -1;
  width: 60%;
  height: 80%;
  display: block;
  bottom: 50px; }
.single-produkty-files .opis {
  width: 90%;
  font-size: 1em; }
.single-produkty-files .button-download {
  margin-top: 80px; }
  .single-produkty-files .button-download h4 {
    font-family: "Didot";
    margin-bottom: 30px; }
  .single-produkty-files .button-download a {
    color: #fff;
    background-color: #a67920;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 8px;
    font-size: .8em; }
    .single-produkty-files .button-download a:after {
      display: block;
      content: ' ';
      background-image: url("/wp-content/uploads/2019/12/strzalka-1.svg");
      background-size: 12px 12px;
      margin-left: 10px;
      height: 12px;
      width: 12px; }

.close-login-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 3em;
  cursor: pointer; }

.download-files .single-item {
  margin-bottom: 20px;
  border-bottom: solid 1px #000;
  padding-bottom: 20px; }
.download-files a {
  display: flex;
  color: #000;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  align-items: center;
  justify-content: flex-end; }
  .download-files a img {
    margin-left: 10px; }

main.single-produkty-files {
  max-width: 100vw;
  overflow: hidden; }

.popup-login {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(http://emtigo1.kordit.pl/wp-content/uploads/2019/12/Warstwa-3.png);
  background-size: cover;
  z-index: -1;
  opacity: 0;
  transition-duration: 1s; }
  .popup-login.show {
    z-index: 999999;
    opacity: 1; }
  .popup-login a.lrm-switch-to--reset-password {
    color: #fff !important; }
  .popup-login button.full-width.has-padding {
    background: #a67920;
    color: #fff; }

a.logout {
  color: #fff;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000000;
  transform: rotate(180deg);
  font-size: 2em;
  opacity: .5;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition-duration: .5s;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9); }

a.logout:hover {
  opacity: 1; }

a.logout span {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  margin-top: 5px;
  transform: rotate(180deg);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px; }

body.logged-in .lrm-main.lrm-font-svg.lrm-user-modal {
  display: none; }

html {
  margin-top: 0px !important;
  top: 0px; }

/*# sourceMappingURL=theme-style.css.map */
