$ffont: "Didot";
$sfont: "Acenir";
/*colors*/
$fcolor:#222;
$scolor:#f6f1e8;
$tcolor:#a67920;
@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	} 
} 
html {
	scroll-behavior: smooth; 
	outline:none;
}
* {
	outline:none;
}
a, a:hover {
	text-decoration: none;
	-webkit-transition-duration: .5s; 
	transition-duration: .5s;
}
body {
	background-color: #000;
	outline:none;
}
body:not(.home) section:first-child {
	margin-top: 0px !important;
}

@-webkit-keyframes show {
	0%   { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.href-left {
	display: flex;
}
@keyframes show {
	0%   { 
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}
.header-bg {
	min-height: 250px;
	position: relative;
	display: flex;
	align-items: flex-end;
	.bg-image {
		height: 100%;
		width: 100%;
		position: absolute;
	}
	.container {
		height: 100%;
		position: relative;
		display: flex;
		align-items: flex-end;
		.header-present {
			height: 100%;
			width: 100%;
			padding-bottom: 20px;
			h1 {
				font-family: $ffont;
			}
		}
	}
}
html {
	margin-top: 0px !important;
}
* {
	font-family: $sfont; 
}
.presentation-slider {
	height: calc(100vh + 10px);
	margin-top: -10px !important;
	margin-bottom: 0px !important;
	@media (max-height: 420px) { 
		min-height: 700px;
	}
	.section-background-image:nth-child(2) {
		-webkit-animation-delay: 2.5s;
		animation-delay: 2.5s;
	}
	.container {
		height: 100%;
	}
	.position-content-box {
		height: 100%;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		position: relative;
		.content-logotype {
			width: 100%;
			position: relative;
		}
		.sygnet {
			position: absolute;
			right: 0;
			bottom: -25%;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
			@media (max-width: 576px) { 
				display: none;
			}
		}
		.number {
			position: absolute;
			right: 5%;
			top: -25%;
			font-size: 3em;
			font-family: $ffont;
			-webkit-animation-delay: 1.75s;
			animation-delay: 1.75s;
			@media (max-width: 576px) { 
				display: none;
			}
		}
		* {
			color: #fff;
		}
		h3 {
			font-family: $ffont;
			font-size: 5rem;
			-webkit-animation-delay: .5s;
			animation-delay: .5s;
			@media (max-width: 576px) { 
				font-size: 2.5rem;
			}
		}
		.checked-text {
			display: -webkit-box;
			display: flex;
			margin-top: 30px;
			max-width: 50%;  
			@media (max-width: 561px) {
				max-width: 100%;  
			}
			.text {
				-webkit-animation-delay: 1s;
				animation-delay: 1s;
			}
			img.arow {
				padding-left: 20px;
				padding-right: 20px;
				animation-duration: 2s;
			}
		}
	}
	.checked-text {
		a {
			opacity: 0;
			-webkit-animation: show 2s;
			animation: show 2s;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}
	}
}   
#oferta {
	padding-bottom: 60px;
	margin-top: 0px;
	padding-top: 60px;
	margin-bottom: 0px;
	.single-item {
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
		&:hover {
			.custom-bg {
				background: transparent;
			}
		}
	}
	.title-section {
		height: 150px;
		.number {
			color: $scolor;
			font-family: $ffont;
			font-size: 6em;
			position: absolute;
			left: 0;
		}
		h3 {
			font-family: $ffont;
			font-weight: 800;
			text-align: left;
			font-size: 1.75rem;
			position: absolute;
			left: 30px;
			top: 55px;
		}
	}
	.thumbnail {
		img {
			max-height: 200px;
			width: auto; 
			@media (max-width: 991px) { 
				max-height: 150px;
			}
		}
	}
	.offer-wrapper {
		position: relative;
		.custom-bg {
			background-color: $scolor;	
			width: 100%;
			height: 55%;
			display: block;
			position: absolute;
			bottom: 0;
			-webkit-transition-duration: .5s;
			transition-duration: .5s;
			z-index: 1;
			@media (max-width: 991px) { 
				height: 75%;
			}
		}
		.offer-box {
			position: relative;
			z-index: 2;
		}
		.text-container {
			text-align: left;
			padding: 20px;
			padding-bottom: 50px;
		}
		p {
			min-height: 200px;
			@media (max-width: 991px) { 
				min-height: 400px;
			}
			@media (max-width: 770px) { 
				min-height: 100px;
			}
		}
		a {
			color: #fff;
			background-color: #a67920;
			letter-spacing: 5px;
			text-transform: uppercase;
			padding: 5px 20px;
			border-radius: 20px;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			padding-top: 8px;
			font-size: .8em;
			svg {
				margin-left: 10px;
				margin-top: -3px;
			}
		}
	}
}
.service-3 {
	margin:0px !important;
	.section-background-image {
		background-attachment: scroll;
	}
	.container-czekolada {
		margin: auto;
		width: 80vw;
	}
	.czekolada {
		position: absolute;
	}
	.description {
		background: #f6f1e8;
		padding: 5%;
		margin: 100px 0px 150px 0px;
	}
	.item-text {
		margin-bottom: 100px;
	}
	.czekolada.czekolada-2 {
		top: 0;
		right: 0;
		width: 28vw;
		img {
			-webkit-filter: drop-shadow(5px 15px 5px rgba(0,0,0,.5));
			filter: drop-shadow(5px 15px 5px rgba(0,0,0,.5));
		}
	}
	.czekolada.czekolada-1 {
		left: 0;
		top: 20%;
		width: 15vw;
		img {
			-webkit-filter: drop-shadow(5px 15px 5px rgba(0,0,0,.5));
			filter: drop-shadow(5px 15px 5px rgba(0,0,0,.5));
		}
	} 
	h1, h2, h3, h4, h5 {
		font-family: $ffont;
		font-weight: 700;
		margin-bottom: 30px;
	}
	p {
		padding-left: 30px;
		width: 90%;
		@media (min-width: 1800px) { 
			/*width: 80%;*/
		}
	}
}
.kontakt-3 {
	margin-top: 0px;
	padding-top:80px;
	padding-bottom:0px;
	margin-bottom: 0px;
	@media (max-width: 561px) { 
		padding: 80px 20px 0px 20px;
		label {
			width: 100%;
		}
	}
	.title-section h3 {
		margin-bottom: 60px;
		font-family: $ffont;
		font-size: 3em;
		margin-left: -15px;
	}
	a {
		color: #000;
	}
	.container-form {
		width: 100%;
		max-width: 100vw;
		overflow: hidden;

		label {
			&.textarea-size {
				width: 100%;
			}
			width: 90%;
			margin-right: auto;
			input, textarea {
				border: none;
				border-bottom: solid 1px #000;
				width: 100%;
			}
		}
		input[type="submit"] {
			color: #fff;
			background-color: #a67920;
			letter-spacing: 5px;
			text-transform: uppercase;
			padding: 5px 20px;
			border-radius: 20px;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			padding-top: 8px;
			font-size: .8em;
			&:after {
				display: block;
				content: ' ';
				background-image: url('/wp-content/uploads/2019/12/strzalka-1.svg');
				background-size: 28px 28px;
				height: 28px;
				width: 28px;
			}
		}
	}
	.single-dzial {
		@media (max-width: 561px) {
			margin-bottom: 70px;
		} 
		h3 {
			font-family: $ffont;
			font-weight: 600;
			margin-bottom: 20px;
			margin-left: -15px;
		}
		.container-mobile, .container-fax {
			margin-bottom: 20px;
			& > * {
				display: block;
			}
		}
		.single-sprzedawca {
			margin-bottom: 30px;
			address {
				margin-bottom: 0px;
			}
			.container-mobile, .container-fax {
				margin-bottom: 0px;
				& > * {
					display: block;
				}
			}
		}
		.single-dzial-inner {
			font-family: $sfont;
			margin-left: 30px;
		}
		&:last-child {
			address {
				margin-bottom: 0px;
			}
			.container-mobile, .container-fax {
				margin-bottom: 0px;
				& > * {
					display: block;
				}
			}
		}
	}
	map {
		margin-top: 80px;
		width: 100%;
	}
	iframe {
		width: 100%;
		height: 600px;
		border: none;
	}
}
footer {
	padding: 40px 0px;
	font-family: $sfont;
	background-color: #080808;
	*, p, address {
		color: #8a8a8a;
	}

	img.img-fluid.logotype {
		margin-bottom: 25px;
	}
	span {
		margin-bottom: 20px;
		display: block;
	}
	ul {
		list-style-type: none;
		padding-left: 10px;
		li {
			a {
				margin-bottom: 20px;
				display: block;
				&.nav-link {
					padding: 0px;
				}
			}
		}
	}
	.credits {
		width: 100%;
		margin-top: 30px;
		border-top: solid 1px #393939;
		padding-top: 20px;
		.row > *:last-child {
			p {
				text-align: right;
			}
		}
	}
	a {
		-webkit-transition-duration: .5s;
		transition-duration: .5s;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

}
body.login {
	background: url(/wp-content/uploads/2019/12/bg-login.jpg);
	background-size: cover;
}
.sygnet-postion {
	position: absolute;
}
body.postid-475 {
	background: #fff;
	section:nth-child(2) {
		padding-top: 170px;
	}
	section.service {
		margin-bottom: 200px;
		h3 {
			font-family: $ffont;
			font-weight: 600;
			margin-bottom: 60px;
			font-size: 2em;
		}
		.number {
			position: absolute;
			font-size: 7em;
			top: -70px;
			z-index: -1;
			font-family: "diot";
			color: #f6f1e8;
		}
		&.service-2 {
			.number {
				// &:before {
				// 	content: " ";
				// 	display: block;
				// 	width: 50%;
				// 	background: #000000;
				// 	height: 2px;
				// 	position: absolute;
				// 	left: 50%;
				// 	top: 50%;
				// 	transform: translate(-120%,0%);
				// }
			}
		}
		h4 {
			font-family: $ffont;
		}
		&:last-child {
			p {
				margin-bottom: 0px !important;
			}
		}
		.row-rewerse {
			.description {
				padding-left: 50px;
				p {
					width: 80%;
					line-height: 1.75em;
					margin-bottom: 60px;
				}
			}
		}
		.row:not(.row-rewerse) {
			.description {
				padding-right: 50px;
				p {
					width: 80%;
					line-height: 1.75em;
					margin-bottom: 40px;
				}
			}
		}
	}
}
body.blog, body.archive {
	.header-present {
		margin-bottom: 0px;
		padding-bottom: 40px;
		height: 290px;
	}
	main#blog { 
		padding-bottom: 0px;
	}
}
body.blog, body.archive, body.single {
	background-color:#fff;
}
section.blog-page {
	padding-top: 60px;
	padding-bottom: 80px;
	.post-container {
		margin-bottom: 80px;
		.post {
			h2 {
				font-family: $ffont;
			}
			box-shadow: 0px 5px 15px rgba(0,0,0,.15);
			border-radius: 0px 100px 0px 100px;
			overflow: hidden;
			.image-container {
				position: relative;
				overflow: hidden;
				height: 450px;
				img {
					width: 110%;
					height: auto;
					max-width: initial;
					position: absolute;
					left: 50%;
					transform: translate(-50%, 0);
					filter: grayscale(.7);
					transition-duration: .5s;
				}
				small {
					position: absolute;
					top: 0px;
					left: -100%;
					background: $fcolor;
					padding: 5px;
					color: #fff !important;
					transition-duration: .5s;
				}
			}
			.container-text {
				text-align: center;
				color: #333;
				background: #fff;
				padding: 30px;
				transition-duration: .5s;
			}
			.href-link {
				display: flex;
				justify-content: center;
				margin-top: 20px;
				a {
					color: #fff;
					background-color: #a67920;
					letter-spacing: 5px;
					text-transform: uppercase;
					padding: 5px 20px;
					border-radius: 20px;
					display: -webkit-box;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					padding-top: 8px;
					font-size: .8em;
				}
			} 
		}
		&:hover {
			.image-container {
				small {
					left: 0%;
				}
				img {
					filter: grayscale(0);
					width: 100%;
				}
			}
			.container-text {
				color: #fff;
				background: $fcolor;
				text-shadow: 0px 0px 5px rgba(0,0,0,.2);
			}
			.href-link {
				a {
					&:hover {
						box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
						color: #333;
						background-color: #fff;
					}
					&:active {
						box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
						color: #333;
						background-color: #fff;
					}
				}
			}
		}
	}
	aside {
		background: #fff;
		border-radius: 0px 50px 0px 50px;
		padding: 45px 20px;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
		transition-duration: .5s;
		position: sticky;
		top: 40px;
		h2.widget-title {
			font-size: 15px;
			margin-bottom: 5px;
		}
		ul {
			list-style-type: none;
			padding:0px;
		}
		#search-2 {
			& > form > div {
				display: flex; 
				flex-wrap: wrap;
				& > *:nth-child(1) {
					width: 100%;
				}
				& > *:nth-child(2) {
					width: 70%;		
					border: none;
					border-bottom: solid 1px #ddd;
					border-left: solid 1px #ddd;
					transition-duration: .5s;
					padding: 5px;
					color: #ddd;
					* {
						transition-duration: .5s;
					}
				}
				& > *:nth-child(3) {
					width: 30%;
					background: transparent;
					border: none;
					border-right: solid 1px #ddd;
					border-bottom: solid 1px #ddd;
					color: #ddd;
					transition-duration: .5s;
				}
			}
			& > form > div {
				& > *:nth-child(2) {
					&:focus, &:active {
						border-bottom: solid 1px $fcolor;
						border-left: solid 1px $fcolor;
						color: #333 !important;
						& + input[type="submit"] {
							background-color: $fcolor;
							color:#fff;
						}
					}
				}
			}
		}
		#sidebar > ul {
			& > li {
				border-bottom: solid 1px #ddd;
				margin-bottom: 30px;
				padding-bottom: 10px;
			}
			ul {
				li {
					a {
						color: $fcolor;
						font-family: $sfont;
						font-size: 13px;
						letter-spacing: 1px;
					}
				}
			}
		}
		&:hover {
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
		}
	}
}
.content-service {
	padding-top: 80px;
	.mini-title {
		margin-bottom: 50px;
		position: relative;
		margin-top: 100px;
		transition-delay: .25s;
		.inner-title {
			position: relative;
		}
		h3 {
			font-family: $ffont;
			margin-left: 50px;
		}
		.number {
			position: absolute;
			font-size: 6em;
			top: -150%;
			color: #f6f1e8;
			font-family: $ffont;
			&:before {
				content: " ";
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background: #000;
				left: 50%;
				top: 50%;
				transform: translate(-120%,-150%);
			}
		}
	}
	@media (max-width: 576px) { 
		img.attachment-full.size-full {
			max-width: 80%;
			height: auto;
			margin: auto;
			display: block;
		}
		.more-content {
			margin-left: auto !important;
			margin-right: auto;
		}
	}
	.before-content {
		margin-left: 50px;
		font-size: .8em;
		width: 65%;
		margin-bottom: 70px;
		transition-delay: .5s;
	}
	.more-content {
		margin-left: -50px;
		font-size: .8em;
		width: 85%;
		transition-delay: .75s;
	}
	.background-custom {
		position: absolute;
		@media (max-width: 576px) { 
			width: 100%;
		}
		width: 50%;
		height: 80%;
		background: #f6f1e8;
		bottom: 0;
	}
}
.section-owl-carousel {
	.owl-carousel .owl-stage-outer {
		z-index: 100;
	}
	margin-top: 200px;
	margin-bottom: 100px;
	.owl-carousel {
		position: unset;
		.thumbnail {
			min-height: 300px;
			@media (max-width: 576px) { 
				min-height: 350px;
			}
		}
		.owl-nav {
			position: absolute;
			left: 0;
			width: 90vw;
			top: 0;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-left: 5vw; 
			button {
				transform:scale(2);
			}
		}
		.owl-item {
			text-align: center;
			img {
				width: 80%;
				height: auto;
				margin: auto;
				transition-duration: .5s;
			}
			.more-info {
				opacity: 0;
				transition-duration: .5s;
			}
			h3 {
				font-family: $ffont;
			}
			p {
				font-size: .8em;
			}
			a {
				color: #fff;
				background-color: #a67920;
				text-transform: uppercase;
				padding: 5px 20px;
				display: inline-flex;
				letter-spacing: 3px;
				border-radius: 25px;
				font-size: 11px;
			}
		}
		.owl-item.center {
			.more-info {
				opacity: 1;
			}
			img {
				width: 95%;
				height: auto;
				transition-duration: .5s;
			}	
		}
	}
}
body.page-template-all-product {
	background: #fff;
}
main.single-produkty {
	.details {
		padding-top: 40px; 
		padding-bottom: 90px;
		h6 {
			margin-bottom: 40px;
		}
		h3 {
			font-size: 3.5em;
			font-weight: 600;
			letter-spacing: 2px;
		}
		.description {
			font-size: .9em;
			width: 50%;
			margin: auto;
			margin-top: 40px; 
		}
		h6, h3 {
			font-family: $ffont;
		}
		img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
			margin-left: -15%;
			width: 100%;
			height: auto;
		}
		.bg-theme {
			position: absolute;
			width: 50%;
			height: 70%;
			display: block;
			background: #f6f1e8;
			bottom: 10%;
		}
	}
}
.single-produkty-files {
	.presentation-slider {
		h3 {
			word-spacing: 100vw;
		}
	}
	h2 {
		font-family: $ffont;
		width: 35%;
		margin-top: 60px;
		margin-left: 15%;
		margin-bottom: 40px;
		@media (max-width: 576px) { 
			margin-left: 10%;
			width: 80%;
		}
	}
	h3.absoulte-this {
		position: absolute;
		max-width: 100vw;
		font-size: 6em;
		color: rgba(0,0,0,.05);
		font-family: "Didot";
		font-weight: 700;
		left: -5%;
	}
	.bg-color {
		position: absolute;
		z-index: -1;
		width: 60%;
		height: 80%;
		display: block;
		bottom: 50px;
	}
	.opis {
		width: 90%;
		font-size: 1em;
	}
	.button-download {
		margin-top: 80px;
		h4 {
			font-family: $ffont;
			margin-bottom: 30px;
		}
		a {
			color: #fff;
			background-color: #a67920;
			letter-spacing: 5px;
			text-transform: uppercase;
			padding: 5px 20px;
			border-radius: 20px;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			padding-top: 8px;
			font-size: .8em;
			&:after {
				display: block;
				content: ' ';
				background-image: url('/wp-content/uploads/2019/12/strzalka-1.svg');
				background-size: 12px 12px;
				margin-left: 10px;
				height: 12px;
				width: 12px;
			}
		}
	}
}
.close-login-popup {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 3em;
	cursor: pointer;
}
.download-files {
	.single-item {
		margin-bottom: 20px;
		border-bottom: solid 1px #000;
		padding-bottom: 20px;
	}
	a {
		display: flex;
		color: #000;
		text-transform: uppercase;
		font-size: .9em;
		font-weight: 700;
		align-items: center;
		justify-content: flex-end;
		img {
			margin-left: 10px;
		}
	}
}
main.single-produkty-files {
	max-width: 100vw;
	overflow: hidden;
}
.popup-login {
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(http://emtigo1.kordit.pl/wp-content/uploads/2019/12/Warstwa-3.png);
	background-size: cover;
	z-index: -1;
	opacity: 0;
	transition-duration: 1s;
	&.show {
		z-index: 999999;
		opacity: 1;
	}
	
	a.lrm-switch-to--reset-password {
		color: #fff !important;
	}
	button.full-width.has-padding {
		background: #a67920;
		color: #fff;	
	}
}
a.logout {
	color: #fff;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 1000000;
	transform: rotate(180deg);
	font-size: 2em;
	opacity: .5;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	transition-duration: .5s;
	text-shadow: 0px 0px 2px rgba(0,0,0,.9);
}
a.logout:hover {
	opacity: 1;
}
a.logout span {
	text-shadow: 0px 0px 2px rgba(0,0,0,.9);
	margin-top: 5px;
	transform: rotate(180deg);
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
body.logged-in {
	.lrm-main.lrm-font-svg.lrm-user-modal {
		display: none;
	}
}
html {
	margin-top: 0px !important;
	top: 0px;
}