@import "../../../../assets/sass/general";
@import "../../../../assets/sass/addons/buttons/shadow-button";

.kontakt {
	h2 {
		margin-bottom: 20px;
	}
	label {
		width: 100%;
		input, textarea {
			background-color: $icolor;
			border:none;
			width: 100%;
			border:solid 1px #ededed;
		}	
	}
	svg { 
		width: 25px;
		height: auto;
		path {
			fill:$fcolor; 
		}
	}
	.phone, .mail, .home {
		display: flex;
		margin-bottom: 10px;
		padding: 15px 0px;
		border-bottom: solid 1px $icolor;
		& > * {
			margin-right: 10px; 
		}
		a, .text {
			color: $fcolor;
			font-size: 19px;
		}
	}
	.wpcf7-submit {
		background-color: $fcolor;
		color: #fff;
		border: none;
		padding: 10px 20px;
		box-shadow: 0px 0px 20px rgba(0,0,0,.45);
		transition-duration: .5s;
		&:hover {
			box-shadow: 0px 0px 5px rgba(0,0,0,.7);
		}
	}
} 