@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.shadow-button > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 5px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1; }
  .shadow-button > *:hover {
    animation: animate 5s linear infinite; }
@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }
  .shadow-button > *:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s; }
  .shadow-button > *:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 5s linear infinite; }

.kontakt h2 {
  margin-bottom: 20px; }
.kontakt label {
  width: 100%; }
  .kontakt label input, .kontakt label textarea {
    background-color: #F2F2F2;
    border: none;
    width: 100%;
    border: solid 1px #ededed; }
.kontakt svg {
  width: 25px;
  height: auto; }
  .kontakt svg path {
    fill: #0D0D0D; }
.kontakt .phone, .kontakt .mail, .kontakt .home {
  display: flex;
  margin-bottom: 10px;
  padding: 15px 0px;
  border-bottom: solid 1px #F2F2F2; }
  .kontakt .phone > *, .kontakt .mail > *, .kontakt .home > * {
    margin-right: 10px; }
  .kontakt .phone a, .kontakt .phone .text, .kontakt .mail a, .kontakt .mail .text, .kontakt .home a, .kontakt .home .text {
    color: #0D0D0D;
    font-size: 19px; }
.kontakt .wpcf7-submit {
  background-color: #0D0D0D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
  transition-duration: .5s; }
  .kontakt .wpcf7-submit:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }

/*# sourceMappingURL=style.css.map */
