@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-8.is-active .line:nth-child(2){
		opacity: 0;
	}

	#hamburger-8.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px);
		transform: translateY(13px);
	}

	#hamburger-8.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(90deg);
		transform: translateY(-13px) rotate(90deg);
	}
}
