.theme-section-slider {
  background-color: #000; }
  .theme-section-slider__image {
    max-height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    opacity: .5; }
  .theme-section-slider__carousel-text {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: #F2F2F2; }
    .theme-section-slider__carousel-text--title {
      font-size: 5em;
      margin-bottom: 1rem; }
    .theme-section-slider__carousel-text--subtitle {
      text-transform: uppercase;
      font-size: 1.35em;
      font-weight: 300;
      letter-spacing: 3px; }
    .theme-section-slider__carousel-text--link {
      text-transform: uppercase;
      color: #D9D9D9; }
      .theme-section-slider__carousel-text--link:hover {
        color: #F2F2F2; }
  @media (max-width: 576px) {
    .theme-section-slider__carousel-text {
      text-align: center;
      width: 90%;
      margin-left: 5%; }
      .theme-section-slider__carousel-text--title {
        font-size: 3.5em; } }

/*# sourceMappingURL=style.css.map */
