@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.presentation-logotype {
  height: 100vh; }
  .presentation-logotype .checked-logo {
    position: absolute;
    width: 100%;
    height: 100%; }
    .presentation-logotype .checked-logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=style.css.map */
