@import "../../../../assets/sass/general";

////////////////////////////////////
/////// PRESENTATION LOGOTYPE /////
//////////////////////////////////
.presentation-logotype {
	height: 100vh;
	.checked-logo {
		position: absolute;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}