.service-3 .content.service-3-box {
  max-width: 615px;
  display: block;
  margin-left: auto; }
.service-3 .thumbnail.responsive {
  display: block;
  margin-right: -15px; }

/*# sourceMappingURL=style.css.map */
