.choose .wrapper-half {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative; }
  .choose .wrapper-half .disable-half {
    width: 20vw;
    position: absolute;
    height: 100%;
    z-index: 2;
    margin-left: 40%; }
  .choose .wrapper-half .half {
    transition-duration: .5s;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    animation-delay: 2s;
    width: 100%; }
    .choose .wrapper-half .half:nth-child(1) {
      z-index: 2;
      clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%); }
    .choose .wrapper-half .half:nth-child(2) {
      z-index: 1;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%); }
    .choose .wrapper-half .half .content {
      opacity: 0;
      text-align: center;
      width: 65%; }
      .choose .wrapper-half .half .content.active {
        animation: .65s ease 0s normal forwards 1 fadein; }
    .choose .wrapper-half .half:hover .choose-inner-html {
      box-shadow: inset 0px 0px 45px #000; }
    .choose .wrapper-half .half.smaller {
      z-index: 1; }
    .choose .wrapper-half .half.active {
      z-index: 3; }
.choose .choose-inner-html {
  height: 100vh;
  width: 100%;
  box-shadow: inset 0px 0px 25px #000;
  transition-duration: .5s; }
  .choose .choose-inner-html .choose-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%; }
    .choose .choose-inner-html .choose-bg .bg-image {
      position: absolute;
      height: 100%;
      z-index: -1;
      background-color: #000;
      width: 100%; }
    .choose .choose-inner-html .choose-bg img {
      box-shadow: inset 0px 0px 25px #000;
      opacity: .7;
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=style.css.map */
