////////////////////////////////////
///////////    CHOOSE      ////////
//////////////////////////////////
.choose {
	.wrapper-half {
		display: flex;
		height: 100vh;
		width: 100vw;
		position: relative;
		.disable-half {
			width: 20vw;
			position: absolute;
			height: 100%;
			z-index: 2;
			margin-left: 40%;
		}
		.half {
			transition-duration: .5s;
			margin: 0px;
			position: absolute;
			left: 0;
			top: 0;
			animation-delay: 2s;
			width: 100%;  

			&:nth-child(1) {
				z-index: 2;
				clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
			}
			&:nth-child(2) {
				z-index: 1;
				clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
			}
			.content {
				opacity: 0;
				text-align: center;
				width: 65%;
				&.active {
					animation: .65s ease 0s normal forwards 1 fadein;
				}
			}
			&:hover {
				.choose-inner-html {
					box-shadow: inset 0px 0px 45px #000;
				}
			} 
			&.smaller {
				z-index: 1;
			}
			&.active {
				z-index: 3;
			}
		}
	}
	.choose-inner-html {
		height: 100vh;
		width: 100%;
		box-shadow: inset 0px 0px 25px #000;
		transition-duration: .5s;
		.choose-bg {
			height: 100%;
			background-size: cover;
			background-position: center;
			display: flex;
			flex-direction: column;
			padding: 10%;
			justify-content: center;
			align-items: center;
			color: #fff;
			width: 100%;
			.bg-image {
				position: absolute;
				height: 100%;
				z-index: -1;
				background-color: #000;
				
				width: 100%;
			}
			img {
				box-shadow: inset 0px 0px 25px #000;
				opacity: .7;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}