@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-12.is-active .line:nth-child(1){
		opacity: 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	#hamburger-12.is-active .line:nth-child(3){
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

}
