@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-4.is-active .line:nth-child(1),
.open-navigation #hamburger-4.is-active .line:nth-child(3) {
  width: 40px; }
.open-navigation #hamburger-4.is-active .line:nth-child(1) {
  -webkit-transform: translateX(10px) rotate(45deg);
  transform: translateX(10px) rotate(45deg); }
.open-navigation #hamburger-4.is-active .line:nth-child(3) {
  -webkit-transform: translateX(10px) rotate(-45deg);
  transform: translateX(10px) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
