@import "../../../../assets/sass/general";

//header 2
#header-2 {
	width: 100%;
	position: absolute;
	z-index: 100;
	font-family: $sfont;
	.dropdown-menu {
		background-color: #222222;
	}
	nav {
		position: fixed;
		z-index: 2;
		right: 0;
		background-color: #222222;
		height: 100vh;
		margin-right: -50vw;
		box-shadow: 5px 0px 10px #000;
		transition-duration: .5s;
		overflow-y: scroll;
		width: 50vw;
		top: 0px;
	} 
	nav.active {
		margin-right: 0vh;
	}
	.open-navigation {
		display: flex;
		justify-content: flex-end;
		z-index: 200;
		position: fixed;
		right: 20px;
		top:20px;
		.line {
			box-shadow: 0px 0px 5px rgba(0,0,0,.25);
		}
	}
	.header-blur-container {
		padding-top: 20px;
	}
	.container-logotype {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.first-menu {
		margin-bottom: 70px;
	}
	.container-navi {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.inner-container-menu {
			margin-left: -20%;
			span {
				color: #8a8a8a;
				margin-bottom: 20px;
				display: block;
			}
			ul {
				padding:0px;
				li {
					a {
						color: #8a8a8a;
						padding:0px;
						margin-bottom: 20px;
						display: block;
					} 
				}
			}
		}
	}
	
	@media (max-width: 576px) { 
		nav.slide-menu {
			flex-direction: column;
		}
		nav {
			margin-right: -90vw;
			width: 90vw;
		} 
		nav.active {
			margin-right: 0vh;
		}
	}

	@media (max-width: 768px) {  
		nav.slide-menu {
			flex-direction: column;
		}
		nav {
			margin-right: -90vw;
			width: 90vw;
		} 
		nav.active {
			margin-right: 0vh;
		}
	}
} 
body.logged-im {
	.lrm-main.lrm-font-svg.lrm-user-modal {
		display: none;
	}
}