@font-face {
  font-family: "Didot";
  src: url("/wp-content/themes/hypernova/assets/fonts/didot.ttf"); }
@font-face {
  font-family: "Acenir";
  src: url("/wp-content/themes/hypernova/assets/fonts/Avenir.ttc"); }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#login {
  display: none; }

body.login {
  background: url(/wp-content/uploads/2019/12/bg-login.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  body.login input[type=password], body.login input[type=text] {
    font-size: unset !important;
    min-height: inherit !important;
    border: none;
    border-bottom: solid 1px #ada7a0;
    background: transparent;
    border-radius: 0px; }
  body.login div#login h1 {
    display: none; }
  body.login div#login a {
    color: #fff; }
  body.login form {
    width: 390px;
    max-width: 90vw;
    background-image: linear-gradient(#f6f1e8, #f6f1e8);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px; }
    body.login form p {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end; }
      body.login form p:nth-child(1), body.login form p:nth-child(2) {
        width: 100%; }
      body.login form p:nth-child(3), body.login form p:nth-child(4) {
        width: 50%; }
      body.login form p:nth-child(3) {
        display: flex;
        justify-content: flex-start; }
      body.login form p:nth-child(4) {
        display: flex;
        justify-content: flex-end; }
      body.login form p:nth-child(1) > *:nth-child(1), body.login form p:nth-child(2) > *:nth-child(1) {
        width: 30%; }
      body.login form p input#wp-submit {
        background: #a67920;
        border: none;
        border-radius: 20px;
        padding: 5px 15px;
        text-transform: uppercase;
        letter-spacing: 2px; }
    body.login form input {
      margin-bottom: 0px !important; }

#header-2 {
  width: 100%;
  position: absolute;
  z-index: 100;
  font-family: "Acenir"; }
  #header-2 .dropdown-menu {
    background-color: #222222; }
  #header-2 nav {
    position: fixed;
    z-index: 2;
    right: 0;
    background-color: #222222;
    height: 100vh;
    margin-right: -50vw;
    box-shadow: 5px 0px 10px #000;
    transition-duration: .5s;
    overflow-y: scroll;
    width: 50vw;
    top: 0px; }
  #header-2 nav.active {
    margin-right: 0vh; }
  #header-2 .open-navigation {
    display: flex;
    justify-content: flex-end;
    z-index: 200;
    position: fixed;
    right: 20px;
    top: 20px; }
    #header-2 .open-navigation .line {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }
  #header-2 .header-blur-container {
    padding-top: 20px; }
  #header-2 .container-logotype {
    height: 100%;
    display: flex;
    align-items: center; }
  #header-2 .first-menu {
    margin-bottom: 70px; }
  #header-2 .container-navi {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #header-2 .container-navi .inner-container-menu {
      margin-left: -20%; }
      #header-2 .container-navi .inner-container-menu span {
        color: #8a8a8a;
        margin-bottom: 20px;
        display: block; }
      #header-2 .container-navi .inner-container-menu ul {
        padding: 0px; }
        #header-2 .container-navi .inner-container-menu ul li a {
          color: #8a8a8a;
          padding: 0px;
          margin-bottom: 20px;
          display: block; }
  @media (max-width: 576px) {
    #header-2 nav.slide-menu {
      flex-direction: column; }
    #header-2 nav {
      margin-right: -90vw;
      width: 90vw; }
    #header-2 nav.active {
      margin-right: 0vh; } }
  @media (max-width: 768px) {
    #header-2 nav.slide-menu {
      flex-direction: column; }
    #header-2 nav {
      margin-right: -90vw;
      width: 90vw; }
    #header-2 nav.active {
      margin-right: 0vh; } }

body.logged-im .lrm-main.lrm-font-svg.lrm-user-modal {
  display: none; }

/*# sourceMappingURL=style.css.map */
