@font-face {
	font-family: "Didot";
	src: url("/wp-content/themes/hypernova/assets/fonts/didot.ttf");
}
@font-face {
	font-family: "Acenir";
	src: url("/wp-content/themes/hypernova/assets/fonts/Avenir.ttc");
}
$ffont: "Didot";
$sfont: "Acenir";

$fcolor: #0D0D0D;
$scolor: #A4A5A6;
$tcolor: #565759; 
$ocolor: #D9D9D9;
$icolor: #F2F2F2;

@-webkit-keyframes smallbig{
	0%, 100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes smallbig{
	0%, 100%{
		-webkit-transform: scale(1); 
		transform: scale(1);
	}

	50%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
#login {
	display: none;
}
body.login {
	background: url(/wp-content/uploads/2019/12/bg-login.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	input[type=password],  input[type=text] {
		font-size: unset !important;
		min-height: inherit !important; 
		border: none;
		border-bottom: solid 1px #ada7a0;
		background:transparent;
		border-radius: 0px;
	}
	div#login {
		h1 {
			display: none;
		}
		a {
			color: #fff;
		}
	}
	form {
		width: 390px;
		max-width: 90vw;
		background-image: linear-gradient(#f6f1e8, #f6f1e8);
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 0px;
		p {
			margin-bottom: 20px;
			display: flex;
			align-items: flex-end;
			&:nth-child(1), &:nth-child(2) {
				width: 100%;
			}
			&:nth-child(3), &:nth-child(4) {
				width: 50%;
			}
			&:nth-child(3) {
				display: flex;
				justify-content: flex-start;
			}
			&:nth-child(4) {
				display: flex;
				justify-content: flex-end;
			}
			&:nth-child(1) > *:nth-child(1), &:nth-child(2) > *:nth-child(1) {
				width: 30%;
			}
			input#wp-submit {
				background: #a67920;
				border: none;
				border-radius: 20px;
				padding: 5px 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
		input {
			margin-bottom: 0px !important;
		}
	}
} 