@font-face {
  font-family: "Didot";
  src: url("/wp-content/themes/hypernova/assets/fonts/didot.ttf"); }
@font-face {
  font-family: "Acenir";
  src: url("/wp-content/themes/hypernova/assets/fonts/Avenir.ttc"); }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.href-center {
  display: flex;
  justify-content: center;
  width: 100%; }

img.item-gallery {
  object-fit: cover; }

.row-rewerse {
  flex-direction: row-reverse; }

main.content-subpage {
  width: 100%; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

.section-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed; }

.thumbnail svg {
  max-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; }

section {
  position: relative;
  max-width: 100vw;
  margin-top: 40px;
  margin-bottom: 40px; }
  section:first-child {
    margin-top: 0px;
    margin-bottom: 40px; }

body:not(.home) section:first-child {
  margin-top: 40px; }
@media (max-width: 576px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
@media (max-width: 768px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
body.page-template-homepage-php section:first-child {
  margin-top: 0px; }
body > .fb-page.fb_iframe_widget {
  display: none; }

.inner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.item-gallery.crop-image {
  object-fit: cover; }

.only-mobile {
  display: none; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition-duration: .5s; }

.open-navigation .twelve {
  width: 100%; }
.open-navigation .eleven {
  width: 91.53%; }
.open-navigation .ten {
  width: 83.06%; }
.open-navigation .nine {
  width: 74.6%; }
.open-navigation .eight {
  width: 66.13%; }
.open-navigation .seven {
  width: 57.66%; }
.open-navigation .six {
  width: 49.2%; }
.open-navigation .five {
  width: 40.73%; }
.open-navigation .four {
  width: 32.26%; }
.open-navigation .three {
  width: 23.8%; }
.open-navigation .two {
  width: 15.33%; }
.open-navigation .one {
  width: 6.866%; }
.open-navigation .col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
.open-navigation .col:first-of-type {
  margin-left: 0; }
.open-navigation .cf:before,
.open-navigation .cf:after {
  content: " ";
  display: table; }
.open-navigation .cf:after {
  clear: both; }
.open-navigation .cf {
  *zoom: 1; }
.open-navigation .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out; }
.open-navigation .hamburger:hover {
  cursor: pointer; }

#blog-page .inner-post-list {
  background: #f3f4f6; }
  #blog-page .inner-post-list .title {
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: capitalize; }
  #blog-page .inner-post-list .excerpt, #blog-page .inner-post-list .excerpt * {
    text-align: center;
    padding: 0px 15px;
    font-size: .9em;
    min-height: 110px;
    overflow: scroll; }
  #blog-page .inner-post-list .link {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
    #blog-page .inner-post-list .link:hover {
      letter-spacing: 0px; }
  #blog-page .inner-post-list .inner-content {
    padding-bottom: 20px;
    margin-bottom: 20px; }
#blog-page .paralax-image {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%; }
  #blog-page .paralax-image .img-paralax {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=main-theme.css.map */
