@import "general";


//KEYFRAMES
@keyframes fadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
.href-center {
	display: flex;
	justify-content: center;
	width: 100%;
}
img.item-gallery {
	object-fit: cover;
}
.row-rewerse {
	flex-direction: row-reverse;
}
////////////////////////////////////
///////////    GLOBAL      ////////
//////////////////////////////////
main.content-subpage {
	width: 100%;
}
.thumbnail img {
	max-width: 100%;
	height: auto;
}
.section-background-image {
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}
.thumbnail svg {
	max-height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}
section {
	position: relative;
	max-width: 100vw;
	margin-top: 40px;
	margin-bottom: 40px;
	&:first-child { 
		margin-top: 0px;
		margin-bottom: 40px;
	}
}

body {
	&:not(.home) {
		section {
			&:first-child { 
				margin-top: 40px;
			}
		}
	}
	@media (max-width: 576px) { 
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center;
		} 
	}
	@media (max-width: 768px) {  
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center; 
		} 
	}
	&.page-template-homepage-php {
		section:first-child {
			margin-top: 0px;
		}
	}

	& > .fb-page.fb_iframe_widget {
		display: none;
	}
}
.inner-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

//galery 
.item-gallery.crop-image {
	object-fit: cover;
}

////////////////////////////////////
/////////// ADDONS CLASS   ////////
//////////////////////////////////
.only-mobile {
	display: none;
}
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition-duration: .5s;
}

////////////////////////////////////
///////////    HEADER      ////////
//////////////////////////////////


//button open navi
.open-navigation {
	.twelve { width: 100%; }
	.eleven { width: 91.53%; }
	.ten { width: 83.06%; }
	.nine { width: 74.6%; }
	.eight { width: 66.13%; }
	.seven { width: 57.66%; }
	.six { width: 49.2%; }
	.five { width: 40.73%; }
	.four { width: 32.26%; }
	.three { width: 23.8%; }
	.two { width: 15.33%; }
	.one { width: 6.866%; }
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-of-type {
		margin-left: 0;
	}

	.cf:before,
	.cf:after {
		content: " ";
		display: table;
	}

	.cf:after {
		clear: both;
	}

	.cf {
		*zoom: 1;
	} 

	.hamburger .line{
		width: 50px;
		height: 5px;
		background-color: #ecf0f1;
		display: block;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
	}

	.hamburger:hover{
		cursor: pointer; 
	}
}
#blog-page {
	.inner-post-list {
		background: #f3f4f6;
		.title {
			text-align: center;
			padding: 10px 0px;
			font-weight: 600;
			font-size: 1.4em;
			text-transform: capitalize;
		}
		.excerpt, .excerpt * {
			text-align: center;
			padding: 0px 15px;
			font-size: .9em;
			min-height: 110px;
			overflow: scroll;
		}
		.link {
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover {
				letter-spacing: 0px;
			}
		}
		.inner-content {
			padding-bottom: 20px; 
			margin-bottom: 20px;
		}
	}
	.paralax-image {
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
		.img-paralax {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-attachment: fixed;
		}
	} 
}

.thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}