.choose .wrapper-half {
  display: flex; }
  .choose .wrapper-half .disable-half {
    width: 20vw;
    position: absolute;
    height: 100%;
    z-index: 2;
    margin-left: 40%; }
.choose .choose-inner-html {
  display: flex;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0px 0px 25px #000;
  transition-duration: .5s;
  flex-wrap: wrap; }
  .choose .choose-inner-html .single-item-choose {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    transition-duration: .5s; }
    .choose .choose-inner-html .single-item-choose .content {
      display: none;
      opacity: 0;
      animation-delay: .5s;
      transition-duration: .5s; }
    .choose .choose-inner-html .single-item-choose.is-active {
      width: 8%;
      flex-basis: 0;
      z-index: 10;
      flex-grow: 8; }
      .choose .choose-inner-html .single-item-choose.is-active .content {
        display: block;
        opacity: 1; }
  .choose .choose-inner-html .choose-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    position: relative; }
    .choose .choose-inner-html .choose-bg .bg-image {
      position: absolute;
      height: 100%;
      z-index: -1;
      background-color: #000;
      width: 100%; }
    .choose .choose-inner-html .choose-bg img {
      box-shadow: inset 0px 0px 25px #000;
      opacity: .7;
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=style.css.map */
