@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-11 {
  transition: all 0.3s ease-in-out; }
.open-navigation #hamburger-11.is-active {
  -webkit-animation: smallbig 0.6s forwards;
  animation: smallbig 0.6s forwards; }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-11.is-active .line:nth-child(1),
.open-navigation #hamburger-11.is-active .line:nth-child(2),
.open-navigation #hamburger-11.is-active .line:nth-child(3) {
  transition-delay: 0.2s; }
.open-navigation #hamburger-11.is-active .line:nth-child(2) {
  opacity: 0; }
.open-navigation #hamburger-11.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg); }
.open-navigation #hamburger-11.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
