@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-5.is-active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.open-navigation #hamburger-5.is-active .line:nth-child(2) {
  transition: none; }
.open-navigation #hamburger-5 .line:nth-child(2) {
  transition-delay: 0.3s; }
.open-navigation #hamburger-5.is-active .line:nth-child(2) {
  opacity: 0; }
.open-navigation #hamburger-5.is-active .line:nth-child(1),
.open-navigation #hamburger-5.is-active .line:nth-child(3) {
  width: 35px;
  -webkit-transform-origin: right;
  transform-origin: right; }
.open-navigation #hamburger-5.is-active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg); }
.open-navigation #hamburger-5.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
