.matrix {
  height: 100vh;
  overflow: hidden;
  margin: 0px; }
  .matrix .icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor; }
  .matrix .container-matrix {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .matrix .content {
    text-align: center;
    position: relative;
    z-index: 3;
    height: 100%; }
  .matrix .background {
    perspective: 1000px; }
  .matrix .background,
  .matrix .background__copy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .matrix .background__copy {
    opacity: 0.3; }
  .matrix .content__title {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .matrix p.content__tagline {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 6px; }
  .matrix .logotype-present {
    max-width: 60%;
    margin: 0 auto; }
    .matrix .logotype-present img {
      width: 100%;
      height: auto; }
  .matrix .text-matrix {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 3px;
    transition-duration: .5s;
    opacity: .85; }
    .matrix .text-matrix:hover {
      letter-spacing: 1px;
      opacity: 1; }
  .matrix a.href-matrix {
    color: #fff !important; }
  .matrix span.read-more {
    right: 20px; }
  .matrix span.contact {
    left: 20px; }
@keyframes pulse {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.95); } }
  .matrix .inner-animation img {
    animation: pulse 1s infinite;
    animation-direction: alternate; }

@media (max-width: 768px) {
  .matrix p.content__tagline {
    font-size: .8em;
    margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
