@import "../../../../assets/sass/general";

////////////////////////////////////
/////////  CAROUSEL LOGO   ////////
//////////////////////////////////
.section-logo-carousel {
	span.carousel-control-next-icon, span.carousel-control-prev-icon {
		filter: drop-shadow(0px 0px 3px rgba(0,0,0,.95));
	}
	a {
		display: flex;
		justify-content: center;
	}
	.carousel-item {
		.row {
			justify-content: center;
		}
	}
	.carousel {
		position: relative; 
		width: 100%;
	}
}
